




/* CNC CONTROL PAGE     */
.youtube_vid {
    position: relative;
    padding-bottom: 56.25%; /* - 16:9 aspect ratio (most common) */
    /* padding-bottom: 62.5%; - 16:10 aspect ratio */
    /* padding-bottom: 75%; - 4:3 aspect ratio */
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.youtube_vid iframe,
.youtube_vid object,
.youtube_vid embed {
    border: 0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.container_sub{
  position: relative;
  left:0;
  top:0;
  width:1000px;
  height:600px;
  padding:50px;
  margin: 3rem;
  background-color: #f5f5f5;
  box-shadow: 0 30px 50px #dbdbdb;
}



.buttons{
  position: absolute;
  bottom:30px;
  z-index: 222222;
  text-align: center;
  width:100%;
}
.buttons button{
  width:50px;
  height:50px;
  border-radius: 50%;
  border:1px solid #555;
  transition: 0.5s;
}.buttons button:hover{
  background-color: #bac383;
}



/* CSS */
.button-89 {
  --b: 3px;   /* border thickness */
  --s: .45em; /* size of the corner */
  --color: #373B44;
  
  padding: calc(.5em + var(--s)) calc(.9em + var(--s));
  color: var(--color);
  --_p: var(--s);
  background:
    conic-gradient(from 90deg at var(--b) var(--b),#0000 90deg,var(--color) 0)
    var(--_p) var(--_p)/calc(100% - var(--b) - 2*var(--_p)) calc(100% - var(--b) - 2*var(--_p));
  transition: .3s linear, color 0s, background-color 0s;
  outline: var(--b) solid #0000;
  outline-offset: .6em;
  font-size: 16px;

  border: 0;

  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.button-89:hover,
.button-89:focus-visible{
  --_p: 0px;
  outline-color: var(--color);
  outline-offset: .05em;
}

.button-89:active {
  background: var(--color);
  color: #fff;
}



/* CSS */

.button-86 {
  all: unset;
  max-width: 130px;
  height: 30px;
  font-size: 16px;
  margin: 1rem;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;

  display: inline-block;

}


.button-86::after,
.button-86::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button-86::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button-86::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button-86:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button-86:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button-86:active::after {
  transition: 0s;
  transform: translate(0, 5%);
}



.button_des1 {
  display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    column-gap: 8.5rem;
}

/*--------movement pri prejeti a odkud kam se ma text posunout padding right (rem)...---------*/
.contact_form a {
  color: var(--light-white);
  font-size: 1.5rem;
  padding-bottom: 1.5rem;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;


  max-width: 450px;
}



.contact_form a i {
  padding-right: 0.5rem;
  transition: 0.2s linear;

}

.contact_form a:hover i {
  padding-right: 2rem;
  color: var(--title-color);
}
































.main_text {
  box-sizing: border-box;
  position: relative;
    width: 100%;
    background-size: cover;
    margin-bottom: 1rem;
    gap: 4rem;
    background: -webkit-linear-gradient(to right, #06a254, #0871478c, #042b545a);
    background: linear-gradient(to right, #06a254, #0871478c, #042b545a);

    display: flex;
    flex-wrap: wrap;
    align-content: center;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

.nadpis {
  margin: 1rem;
  padding: 1rem;
}

.nadpis h2{
  font-size: 4rem;
  color: #0d0d0d;
  margin: 1rem;
  padding: 1rem;
  text-shadow: 1px 1px #f1f2f598;
  text-transform: uppercase;
}





/*TABLE CONTAINER START*/


.table_container {
  position: relative;
  height: 100%;
  top: 50%;
  margin: 1rem;
  padding: 5rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  overflow-x:auto;

  border-collapse: collapse;
}

.table_container_color {
  position: relative;
  height: 100%;
  top: 50%;
  margin: 1rem;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
  overflow-x:auto;
  background: linear-gradient(to right, #068ba2, #085071, #043254);
  border-collapse: collapse;

   
}




table {
  width: 100%;
  border-collapse: collapse;
  overflow: hidden;
  box-shadow: 0 0 20px rgba(0,0,0,0.1);
  border-radius: 1rem;
  table-layout: fixed;
}


th, td {
  padding: 15px;
  background-color: rgba(255,255,255,0.2);
  color: #fff;
  
}
th {
  text-align: center;
  text-decoration-line: underline;
  color: #337ab7;
  
}
tbody th {
  background-color: hsl(0, 1%, 37%);
}
tbody tr:hover {
  background-color: rgba(255,255,255,0.3);
}
tbody td {
  position: relative;
  
}
tbody td:hover:before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -9999px;
  background-color: rgba(255,255,255,0.2);
  z-index: -1;
}





/*CARD CONTAINER START*/
.container_flexbox {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 1px;
}

.card {
  background: #fff;
  width: 500px;
  margin: 10px;
  border-radius: 15px;
}



.container_flexbox1 {
  display: flex;
    flex-wrap: nowrap;
    gap: 1px;
    align-content: flex-end;
    flex-direction: row;
    align-items: center;
}


.container_flexbox2 {
display: flex;
    flex-wrap: nowrap;
    gap: 1px;
    align-content: center;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}






.card2 {
  margin: 10px;
  color: hsl(0, 2%, 59%);
  font-weight: bold;
  font-size: 1.2rem;
  text-wrap: balance;
}

.card2 h2 {
  margin: 5px;
}

.card3 {
  margin: 10px;
  color: hsl(0, 2%, 59%);
  font-weight: bold;
}

.card3 h2 {
  text-transform: uppercase;
  margin: 5px;


}

.card2 li {
  padding: 3px;
  list-style-type: circle;
  margin: 1rem;
}

.card2 p {
  padding: 3px;
  margin: 1px;
}

.space_paragraph p{
  padding: 1rem;
  margin: 1rem;
  text-transform: none;

}

.green_h1 h1{
  padding: 1rem;
  margin: 1rem;
  color: #06a254;
  font-size: 4rem;
  text-shadow: 1px 1px #f1f2f598;
  text-transform: none;
}

.green_h2 h2{
  padding: 1rem;
  margin: 1rem;
  color: #06a254;
  font-size: 3rem;
  text-shadow: 1px 1px #f1f2f598;
  text-transform: none;
  text-align: center;
}

.green_h2b h2{
  padding: 1rem;
  margin: 1rem;
  color: #06a254;
  font-size: 2rem;
  text-shadow: 1px 1px #f1f2f598;
  text-transform: none;
  text-align: left;
}

.blue_h2 h2{
  color: var(--title-color);
  font-size: 1,5rem;
  text-shadow: 1px 1px #f1f2f598;
  text-transform: none;
  margin: 4px
}



.green_h3 h3{
  color: #06a254;
  font-size: 1,5rem;
}

.h2_blue h2 {
color: #222324;}
    
  .card3 li {
    padding: 3px;
    list-style-type: circle;
    margin: 1px;
}


/*
.card-image {
  height: 170px;
  margin-bottom: 15px;
  background-size: cover;
  border-radius: 15px 15px 0 0;

}

.card-1 {
  background-image: url(../img/cnc15.jpg);
}

.card-2 {
  background-image: url(../img/cnc12.jpg);
}
*/

.card h2 {
  padding: 10px;
  
}


.card1 {
  padding: 5px 10px;
  margin: 0 0 10px 0;
  line-height: 24px;

  border-left: 34px solid #369;
  padding-left: 10px;

}





/* TEXT ROTATE 90 DEGREE */
.card_1 h2 {
  color: #47b733;
  
  text-transform: uppercase;
  background: #369;
  margin: 0 0 10px 0;
  line-height: 24px;

  padding-left: 10px;

  position: absolute;
  top: 0;
  left: 0;

  /* Border is the new background */
  background: none;

  /* Rotate from top left corner (not default) */
  transform-origin: 0 0;
  transform: rotate(90deg);
}


.card ul {
  padding: 10px;
  
}

.card li {
  padding: 10px;
  list-style-type: circle;
  margin: 1rem;
}

.card:hover {
  background-color: rgb(62,62,62);
  color: #337ab7;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.4s ease;
}

.pic_text:hover {
  background-color: #068ba2;
  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.4s ease;
}

.pic_text2:hover {
  background-color: rgb(62,62,62);

  cursor: pointer;
  transform: scale(1.03);
  transition: all 0.4s ease;
}


@media screen and (max-width: 1152px) {
  .container_sub{
    width:600px;
    height:400px;
    padding:30px;
}





.pic_text {
  width: 300px;
}



.item{
  width: 200px;
  height: 150px;
}
}

@media screen and (max-width: 1023px) {
  .container_sub{
    width:600px;
    height:400px;
    padding:20px;
}

.csslider > ul {
  width: 650px !important;
}

.about__img1,
.about__img2, 
.about__VM_img1 {
  width:300px !important;
  height:400px;
}



.about__VM_img2,
.about__VM_img3 {
  width: 338px !important;
  height: 322px;
}

.about__NO-pic {
  width: 338px !important;
  height: 322px;
}
.about__VM_img4 {
  margin-right: 1rem;
  width: 327px !important;
  height: 265px;
}

.about__VM_img5 {
  width: 479px !important;
  height: 378px;
}

.about__SL_img1, 
.about__SL_img2 {
  width: 479px !important;
  height: 378px;
}

.about__SL_img3 {
  width: 564px !important;
  height: 378px
}


.about__XP_img3 {
  width: 558px;
  height: 410px;
}

.about__IL_img1 {
  width: 418px;
  height: 419px;
}

.about__IL_img2, .about__IL_img3, .about__IL_img4 {
  width: 498px;
  height: 419px;
}

.about__BR_img1, .about__BR_img2 {
  width: 666px;
  height: 396px;
}

.about__BR_img3 {
  width: 740px;
  height: 298px;
}

.about__BR_img4 {
width: 714px;
height: 396px;
}


.about__ML_img1,
.about__ML_img2,

.about__ML_img4,

.about__ML_img7{
 
 
 
  width: 558px;
  height: 410px;
}


.about__ML_img5 {
width: 558px;
height: 346px;
}

.about__ML_img2{
    width: 558px;
    height: 334px;
}

.about__ML_img3,
.about__ML_img8,
.about__ML_img9,
.about__ML_img10 {
  margin-right: 1rem;
  width: 327px !important;
  height: 265px;
}

.about__ML_img6 {
  width: 558px;
  height: 295px;

}














.about__img3{
  width: 417px !important;
  height: 399px;
  }


.about__img4, .about__img5, .about__img7 {
    width: 378px !important;
    height: 308px;
}
.about__img7 {
    width: 355px !important;
    height: 327px;
}


/*Big DES pictures */
.about__img6 {
width: 690px !important;
height: 270px;
}






.item{
  width: 150px;
  height: 110px;
}

.green_main_h1 h1 {
  font-size: 3rem;
  text-align: center;
}

.green_h2 h2 {
font-size: 2rem;
}

.green_h2b h2 {
  font-size: 2rem;
  
  }

.heading2 p {
  font-size: 1rem;
  justify-content: center;
  gap: 1.5rem;

}


}

@media screen and (max-width: 800px) {
.contact_form a {
    font-size: 14px;
    max-width: 450px;
}

}





@media screen and (max-width: 768px) {
  .csslider > ul {
    width: 450px !important;
  }


  /* BIG sub pictures */
  .about__img6 {
    width: 690px !important;
    height: 270px;
    }
    .about__VM_img4 {
      margin-right: 0rem;
    }

    .about__VM_img5 {
    width: 431px !important;
    height: 359px;
  }

  .about__SL_img1, 
  .about__SL_img2 {
    width: 431px !important;
    height: 359px;
  }

  .about__SL_img3 {
    width: 431px !important;
    height: 287px;
}

  .about__XP_img1 {
    width: 456px !important;
    height: 381px;
  }

  .about__XP_img2 {
    width: 530px !important;
    height: 333px;
  }

  .about__IL_img1 {
    width: 318px;
    height: 318px;
}
.about__IL_img2, .about__IL_img3, .about__IL_img4  {
    width: 331px;
    height: 266px;
}

.about__BR_img1, .about__BR_img2, .about__BR_img4  {
  width: 324px;
  height: 187px;
}
.about__BR_img3 {
    width: 334px;
    height: 163px;
}

}

@media screen and (max-width: 600px) {
  .table_container {
    height: 100%;
    top: 50%;
    margin: 2px;
    padding: 2rem;
    overflow-x: auto;
    border-collapse: collapse; 
  }
/* SMALL sub pictures */
  .about__img3 {
    width: 341px !important;
    height: 329px;
  }

 /* BIG sub pictures */
 .about__img6 {
    width: 445px !important;
    height: 173px;
  }

  .about__XP_img3 {
    width: 324px;
    height: 232px;
}


.about__ML_img1,

.about__ML_img4,

.about__ML_img7 {
  width: 324px;
  height: 232px;
}
.about__ML_img5 {
  width: 324px;
  height: 200px;
}

.about__ML_img6 {
  width: 384px;
  height: 198px;
}

.about__ML_img2{
  width: 324px;
  height: 194px;
}



  .card2 {
    margin: 5px;
    font-size: 1rem !important;
}

  .nadpis h2 {
    font-size: 3rem;
  }
  .green_h1 h1 {
   padding: 0rem; 
    margin: 0rem; 
  }



  .container_flexbox1 {
    display: flex;
    flex-wrap: nowrap;
    gap: 1px;
    align-content: flex-start;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }



  .container_flexbox2 {
    display: flex;
    flex-wrap: nowrap;
    gap: 1px;
    align-content: center;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
  
  .container_sub{
    width:300px;
    height:300px;
    padding:20px;
}




  .card_1 h2 {
    font-size: 1em;
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
    white-space: nowrap;
  }
  
  table {
    font-size: 1.3em;
    table-layout: fixed;
  }
  
  
  
  table tr {
    border-bottom: 3px solid #ddd;
  }
  
  table td {
    display: block;
    font-size: .8em;
    text-align: left;
  }

  th, td {
    padding: 6px;
  }

  
  table td::before {
    /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
}


@media screen and (max-width: 550px) {
  .csslider > ul {
    width: 250px !important;
  }

  .about__VM_img5 {
    width: 295px !important;
    height: 244px;
  }

  .about__SL_img1, 
  .about__SL_img2 {
    width: 295px !important;
    height: 244px;
  }

  .about__SL_img3 {
    width: 295px !important;
    height: 196px;
}


  .about__XP_img1 {
    width: 321px !important;
    height: 270px;
  }



  .about__XP_img2 {
    width: 322px !important;
    height: 217px;
  }






}



/*TABLE CONTAINER END*/






/*display: flex;
    justify-content: flex-end;
    align-content: center;
    flex-direction: column-reverse;
    */












    /* Basic styling for message box */
.message-box {
  display: none; /* Hidden by default */
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  padding: 20px;
  background-color: #fff;
  border: 2px solid #333;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
  z-index: 100;
}

/* Text inside the message box */
.message-box p {
  margin: 0 0 20px;
  font-size: 16px;
}

/* Buttons styling */
.message-box button {
  margin: 0 10px;
  padding: 8px 16px;
  font-size: 14px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
}

/* Yes button style */
.yes-button {
  background-color: #4CAF50;
  color: #fff;
}

/* No button style */
.no-button {
  background-color: #f44336;
  color: #fff;
}
