/*=============== GOOGLE FONTS ===============*/
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600&family=Poppins:wght@400;500&display=swap");

/*=============== VARIABLES CSS ===============*/
:root {
  --header-height: 3.5rem;

  /*========== Colors ==========*/
  /*Color mode HSL(hue, saturation, lightness)*/
  --title-color: #337ab7;
  --text-color: hsl(0, 2%, 59%);
  --text-color-light: hsl(0, 2%, 62%);
  --body-color: hsl(0, 3%, 6%);
  --container-color: hsl(0, 0%, 7%);

  /*========== Font and typography ==========*/
  /*.5rem = 8px | 1rem = 16px ...*/
  --body-font: "Poppins", sans-serif;
  --second-font: "Montserrat", sans-serif;
  --biggest-font-size: 2.75rem;
  --h1-font-size: 1.5rem;
  --h2-font-size: 1.25rem;
  --h3-font-size: 1rem;
  --normal-font-size: .938rem;
  --small-font-size: .813rem;
  --smaller-font-size: .75rem;

  /*========== Font weight ==========*/
  --font-regular: 400;
  --font-medium: 500;
  --font-semi-bold: 600;

  /*========== z index ==========*/
  --z-tooltip: 10;
  --z-fixed: 100;
}


/*========== Responsive typography ==========*/
@media screen and (min-width: 1152px) {
  :root {
    --biggest-font-size: 5.5rem;
    --h1-font-size: 2.5rem;
    --h2-font-size: 1.5rem;
    --h3-font-size: 1.25rem;
    --normal-font-size: 1rem;
    --small-font-size: .875rem;
    --smaller-font-size: .813rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body,
button,
input {
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--text-color);
}

body {
  background-color: var(--body-color);
}



button,
input {
  outline: none;
  border: none;
}

h1, h2, h3, h4 {
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  text-align: center;
  font-size: var(--h1-font-size);
  margin-bottom: 1.5rem;
  text-transform: uppercase;
  text-shadow: 1px 1px #f1f2f598;

}





.main {
  overflow: hidden; /* For animation ScrollReveal */
}

/*=============== HEADER & NAV ===============*/
.header {
  position: fixed;
  width: 100%;
  background-color: transparent;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
}

.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  width: 50px;
  cursor: pointer;
  
}

.nav__logo {
  color: #337ab7;
  font-family: 'Tinos', serif;  
  font-weight: var(--font-semi-bold);
  font-size: 30px;
}

.nav__logo .logo {
  position: sticky;
  float: left;
  margin-right: 10px;
  
}



.nav__toggle,
.nav__close {
  display: flex;
  font-size: 1.25rem;
  color: var(--title-color);
  cursor: pointer;
}









/*-----------------------------------*\
  #PRELOAD
\*-----------------------------------*/

.preload {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #337ab7;
  z-index: 10;
  display: grid;
  place-content: center;
  justify-items: center;
  transition: 500ms ease;;
}

.preload > * { transition: 250ms ease; }

.preload.loaded > * { opacity: 0; }

.preload.loaded {
  transition-delay: 250ms;
  transform: translateY(100%);
}

.circle {
  width: 112px;
  height: 112px;
  border-radius: 50%;
  border: 3px solid hsla(0, 0%, 100%, 1);
  border-block-start-color: hsla(0, 3%, 7%, 1);
  margin-block-end: 45px;
  animation: rotate360 1s linear infinite;
}

@keyframes rotate360 {
  0% { transform: rotate(0); }
  100% { transform: rotate(1turn); }
}

.preload .text {
  background-image: linear-gradient(90deg, transparent 0% 16.66%, var(--smoky-black-3) 33.33% 50%,  transparent 66.66% 75%);
  background-size: 500%;
  font-size: calc(2rem + 3vw);
  font-weight: 700;
  line-height: 1em;
  text-transform: uppercase;
  letter-spacing: 16px;
  padding-inline-start: 16px;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  text-shadow: 1px 1px #f1f2f598;
  

  -webkit-background-clip: text;
  -webkit-text-stroke: 0.5px hsla(180, 2%, 8%, 1);
  animation: loadingText linear 2s infinite;
}

@keyframes loadingText {
  0% { background-position: 100%; }
  100% { background-position: 0%; }
}





















/* Navigation for mobile devices */
@media screen and (max-width: 1023px) {
  .nav__menu {
    position: fixed;
    top: -100%;
    left: 0;
    background-color: hsla(0, 0%, 0%, 0.3);
    width: 100%;
    padding-block: 4rem;
    backdrop-filter: blur(24px);
    -webkit-backdrop-filter: blur(24px); /* For safari */
    transition: top 0.6s;
  }
  
}

.nav__list {
  text-align: center;
  display: flex;
  flex-direction: column;
  row-gap: 2.5rem;
}

.nav__link {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

.nav__link::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav__link:hover::after{
  width: 70%;
}



/* novy NAV link */
.nav__link1 {
  position: relative;
  color: var(--title-color);
  font-family: var(--second-font);
  font-weight: var(--font-medium);
}

.nav__link1::after {
  content: '';
  width: 0;
  height: 2px;
  background-color: var(--title-color);
  position: absolute;
  left: 0;
  bottom: -0.5rem;
  transition: width 0.3s;
}

.nav__link1:hover::after{
  width: 70%;
}
/*  novy NAV link END */





.nav__close {
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}


/* Show menu */
.show-menu {
  top: 0;
}


/* SUB menu */
.dropdown__menu {
  display: none;
}

.nav__menu ul li:hover .dropdown__menu ul {
  display: block;
  margin: 10px;
  position: relative;

    margin: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
}


.nav__menu ul li:hover .dropdown__menu {
  display: block;
  position: relative;
  top: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  padding-block: 4rem;

  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */

  
}


.nav__menu ul li:hover .dropdown__menu ul li{
  width: 150px;
  padding: 10px;
  border-bottom: 2px;
  border-color: aliceblue;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  border-bottom: 3px solid #ddd;

}

/* HOVER BUTTON BACKGROUND CHANGE */
.nav__menu ul li:hover .dropdown__menu ul li:hover {
    color: #7b1715;
    background-color: #2e2c2c;
    border-radius: 2rem;
    transition: all 0.4s ease;
    transform: scale(1.03);
  

}





.fas {
  position: sticky;
  float: right;
  margin-left: 10px;
  padding-top: 3px;
}

.nav__menu ul li a {
  color: var(--title-color);
  
}



/*--------nadpis odstavce (our services...)---------*/

.heading2 {
  margin: 3rem;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;

}
.green_main_h1 h1 {
  padding: 1rem;
  margin: 1rem;
  color: #06a254;
  font-size: 6rem;
  text-shadow: 1px 1px #f1f2f598;
  text-align: center;
}

.main_img {
  margin: 3rem;
  display: flex;
  flex-wrap: nowrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  flex-direction: column;
}

.heading-title {
  text-align: center;
  margin-bottom: 3rem;
  font-size: 3.5rem;
  color: var(--title-color);
  
}

.heading2 p {
  font-size: 1.5rem;
  padding: 3rem;
  line-height: 2;
  color: var(--black);
  margin: 5rem;
  margin-bottom: 2rem;
  margin-top: 1rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}



/* VIDEO PLAYER START */

/* Style the video: 100% width and height to cover the entire window */
#myVideo {
  position: relative;
  top: 10;
  left: 0;
  width: 100%;
  height: 80%;
  object-position: center;
  box-shadow:  0 30px 50px #505050;

}

/* Add some content at the bottom of the video/page */
.content {
  position: fixed;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
  z-index: 1;
}

/* Style the button used to pause/play the video */
#myBtn {
  width: 200px;
  font-size: 18px;
  padding: 10px;
  border: none;
  background: #000;
  color: #fff;
  cursor: pointer;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


/* VIDEO PLAYER END */
/* VIDEO PLAYER END */



















/* Add blur to header */
.blur-header::after {
  content: '';
  position: absolute;
  width: 1000%;
  height: 100%;
  background-color: hsla(0, 0%, 0%, 0.3);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px);
  top: 0;
  left: 0;
  z-index: -1;
}

/* Active link */
.active-link::after {
  width: 70%;
}

/*=============== HOME ===============*/
.home {
  position: relative;
}

.home__bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 750px;
  object-fit: cover;
  object-position: center;
}

.home__shadow {
position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 800px;
  background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0) 80%,
              hsl(0, 0%, 0%) 95%);
}

.home__container {
  position: relative;
  padding-top: 3rem;
  row-gap: 3rem;
  
  word-break: normal;
  white-space: wrap;

}

.home__data {
  text-align: center;
}

.home__subtitle {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.home__title {
  font-size: var(--biggest-font-size);
  margin-bottom: 1rem;
}

.home__description {
  margin-bottom: 2rem;
  color: var(--title-color);
}

.home__description1 {
  margin-bottom: 2rem;
  text-align: center;
  margin: 10px;
  color: hsl(0, 2%, 59%);
  font-weight: bold;
  font-size: 20px;
}

.home__description p {
  word-break: break-all;
  white-space: normal;
}

.home__cards {
  grid-template-columns: 240px;
  justify-content: center;
}

.home__card {
  position: relative;
  overflow: hidden;
}

.home__card-img {
  transition: transform 0.4s;
}

.home__card-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0) 50%,
              hsl(0, 0%, 0%) 125%);
}

.home__card-title {
  position: absolute;
  left: 1rem;
  bottom: 1rem;
  font-size: var(--h3-font-size);
  z-index: 1;
}

.home__card:hover .home__card-img {
  transform: scale(1.2);
}



/*=============== BUTTON ===============*/
.button {
  background-color: hsla(0, 0%, 100%, 0.2);
  padding: 1.25rem 1.5rem;
  color: #337ab7;
  display: inline-flex;
  align-items: center;
  column-gap: 0.5rem;
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* For safari */
}

.button i {
  font-size: 1.25rem;
  transition: transform 0.4s;
  font-weight: initial;
}

.button:hover i {
  transform: translateX(0.25rem);
}



/*=============== ABOUT Hlavni content ===============*/
.about__container {
  row-gap: 3rem;
  margin: 5px;
  padding: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}


.about__container1 {
  row-gap: 3rem;
  padding-left: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  column-gap: 8.5rem;
}

.about__control {
  row-gap: 3rem;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  column-gap: 8.5rem;
}


.section__title_ctrl {
    margin: 10px;
    padding: 1rem;
;}

.section__title_ctrl p {
  color: hsl(126, 88%, 35%);
  font-size: 3rem;
  font-weight: bold;
    text-transform: uppercase;
    text-shadow: 1px 1px #fff;

}


  .box99 {
    position: relative;
    width: 100%;
    background-size: cover;
      margin-bottom: 1rem;
      gap: 4rem;
  background: -webkit-linear-gradient(to right, #068ba2, #085071, #043254);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #068ba2, #085071, #043254); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  
  }
  
  .about__control_img {
    height: 400px;
    width: 400px;
    background: url(../img/IMG_control.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
    
  }


  .about__control_img2 {
    height: 400px;
    width: 400px;
    background: url(../img/IMG_control2.JPG);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
  }

  .img2_box {
    position: relative;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    margin: 1rem;
    align-items: center;
    flex-wrap: nowrap;
    padding: 1rem;

  }


  .box1 {
    position: relative;
    width: 100%;
    background-size: cover;
      margin-bottom: 1rem;
      gap: 4rem;
  }



  .about__productivity_img {
    height: 400px;
    width: 400px;
    background: url(../img/ChipBoss.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
    
  }

  .box2 {
    position: relative;
    width: 100%;
    background-size: cover;
      margin-bottom: 1rem;
      gap: 4rem;
  }



  .about__productivity_img2 {
    height: 300px;
    width: 500px;
    background: url(../img/ChipBoss_RestRoughing.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
    
  }

  .about__productivity_img3 {
    height: 200px;
    width: 500px;
    background: url(../img/Rest-Roughing.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
    
  }

  
    .pic_text {
      display: block;
      width: 500px;
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-content: center;
      flex-direction: column;
      margin: 1rem;
      align-items: center;
      flex-wrap: wrap;
      padding: 1rem;
    }


    .pic_text2 {
        display: block;
        max-width: 500px;
        position: relative;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: row;
        margin: 1rem;
        align-items: center;
        flex-wrap: wrap;
        padding: 1rem;
    }


  .about__DGI_desktop_img1 {
    height: 400px;
    width: 500px;
    background: url(../img/PROFILE-MILLING.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
  }

  


  .about__productivity_img4 {
    background: url(../img/mobile_access.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
    
  }


  
  .about__productivity_img5 {
    background: url(../img/productivity-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
  }

  .about__productivity_img6 {
    background: url(../img/productivity-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
  }


  .about__productivity_img7 {
    background: url(../img/Turning-cycle.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
    
  }







  .pic_text h2 {
    color: #ddd;
    max-width: 400px;
  }

  .pic_text2 h2 {
    color: #ddd;
    max-width: 400px;
  }












.about__data {
  text-align: center;
}

.about__description {
  margin-bottom: 2rem;
}

.about__description1 {
  margin-bottom: 2rem;
}

.about__image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

.about__image1 {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

/* ZOOM EFECT */
.about__img1 {
  width: 400px;
  height: 600px;
  background: url(../img/VK4-II.png);
  background-position: center;
  background-size: cover;
  padding: 4rem;
  background-color: #337ab7;
  position: relative;
  justify-self: center;
  overflow: hidden;
  transition: transform 0.4s;

}


.about__img {
  width: 300px;
  transition: transform 0.4s;
}


.about__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0) 50%, 
              hsl(0, 0%, 0%) 125%);
}





.about__image:hover .about__img {
  transform: scale(1.2);
}
/*=============== POPULAR ===============*/
.popular__container {
  padding-top: 1.5rem;
  grid-template-columns: 240px;
  justify-content: center;
  row-gap: 2.5rem;
}

.popular__image {
  position: relative;
  overflow: hidden;
  margin-bottom: 1rem;
}

.popular__img {
  transition: transform 0.4s;
}

.popular__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
              hsla(0, 0%, 0%, 0) 50%,
              hsl(0, 0%, 0%) 125%);
}

.popular__title {
  font-size: var(--h3-font-size);
  margin-bottom: 0.5rem;
}

.popular__location {
  display: inline-flex;
  align-items: center;
  column-gap: 0.25rem;
  font-size: var(--small-font-size);
  font-family: var(--second-font);
  font-weight: 500;
}

.popular__location i {
  font-size: 1rem;
}

.popular__image:hover .popular__img {
  transform: scale(1.2);
}

/*=============== EXPLORE ===============*/
.explore {
  position: relative;
}

.explore__image {
  position: absolute;
  overflow: hidden;
}

.explore__img {
  width: 100%;
  height: 333px;
  object-fit: cover;
  object-position: center;
}

.explore__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg,
           
            hsla(0, 0%, 0%, 0) 40%,
            hsla(0, 0%, 0%, 0) 60%,
            hsl(0, 0%, 0%) 92%);
}

.explore__content {
  position: relative;
  padding-top: 16rem;
  text-align: center;
  row-gap: 2.5rem;
}

.explore__user {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  column-gap: 0.5rem;
}


/*change the picture to the corner.. some kind of button*/
.explore__perfil {
  width: 100px;
}

.explore__name {
  font-size: var(--small-font-size);
  color: var(--title-color);
}



/*=============== JOIN ===============*/
.join__container {
  row-gap: 3rem;
  padding-bottom: 2.5rem;
}

.join__data {
  text-align: center;
}

.join__description {
  margin-bottom: 2rem;
}

.join__form {
  display: grid;
  row-gap: 1rem;
}

.join__input {
  padding: 1.25rem 1rem;
  background-color: var(--container-color);
}

.join__button {
  cursor: pointer;
}

.join__image {
  position: relative;
  justify-self: center;
  overflow: hidden;
}

.join__img {
  width: 300px;
  transition: transform 0.4s;
}

.join__shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, 
            hsla(0, 0%, 0%, 0) 50%,
            hsl(0, 0%, 0%) 125%);
}

.join__image:hover .join__img {
  transform: scale(1.2);
}





/*=============== FOOTER ===============*/
.footer {
  padding-block: 2.5rem;
  background-color: var(--container-color);
}

.footer__content {
  row-gap: 3.5rem;
}

.footer__logo {
  display: inline-block;
  color: var(--title-color);
  font-size: var(--h2-font-size);
  font-family: var(--second-font);
  font-weight: var(--font-semi-bold);
  margin-bottom: 1rem;
}

.footer__data {
  grid-template-columns: repeat(2, max-content);
  gap: 2.5rem 3.5rem;
}

.footer__title {
  font-size: var(--h3-font-size);
  margin-bottom: 1rem;
}

.footer__links {
  display: grid;
  row-gap: 0.75rem;
}

.footer__link {
  color: var(--text-color);
  transition: color 0.4s;
}

.footer__link:hover {
  color: var(--title-color);
}

.footer__group,
.footer__social {
  display: flex;
}

.footer__group {
  margin-top: 5rem;
  flex-direction: column;
  align-items: center;
  row-gap: 2rem;
}

.footer__social {
  column-gap: 1.5rem;
}

.footer__social-link {
  color: var(--text-color);
  font-size: 1.25rem;
  transition: color 0.4s, transform 0.4s;
}

.footer__social-link:hover {
  color: var(--title-color);
  transform: translateY(-0.25rem);
}

.footer__copy {
  font-size: var(--smaller-font-size);
  color: var(--text-color-light);
  text-align: center;
}




/*=============== SCROLL BAR ===============*/
::-webkit-scrollbar{
  width: 0.6rem;
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 10%);
}

::-webkit-scrollbar-thumb {
  border-radius: 0.5rem;
  background-color: hsl(0, 0%, 20%);
}

::-webkit-scrollbar-thumb:hover {
  background-color: hsl(0, 0%, 30%);
}


/*=============== SCROLL UP ===============*/
.scrollup {
  position: fixed;
  right: 1rem;
  bottom: -50%;
  background-color: hsla(0, 0%, 100%, 0.1);
  padding: 6px;
  display: inline-flex;
  color: var(--title-color);
  font-size: 1.25rem;
  backdrop-filter: blur(24px);
  -webkit-backdrop-filter: blur(24px); /* for safary */
  z-index: var(--z-tooltip);
  transition: bottom 0.4s, transform 0.4s;
}

.scrollup:hover {
  transform: translateY(-0.25rem);
}

/* Show Scroll Up */
.show-scroll {
  bottom: 3rem;
}


/*=============== BREAKPOINTS ===============*/
/* For small devices */
@media screen and (max-width: 340px) {
  .container {
    margin-inline: 1rem;
  }

  .footer__data {
    grid-template-columns: max-content;
  }
}


/* For medium devices */
@media screen and (max-width: 576px) {
  .home__container,
  .about__container,
  .about__container1,
  .explore__content,
  .join__container {
    justify-content: center;
  }

  .box99 {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
  }

  .preload .text {
    font-size: calc(0.5rem + 3vw) !important;
  }

  
  .pic_text2 {
    width: 300px;
  }


  .about__control_img2 {
    width: 260px
  }

  .about__productivity_img {
    width: 260px
  }


  .footer__data {
    grid-template-columns: repeat(3, max-content);
  }

  .green_main_h1 h1 {
    font-size: 2rem !important; 
}

.green_h2 h2 {
 font-size: 1.5rem !important;

}



}

@media screen and (max-width: 768px) {

  .box99 {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
  }

  .preload .text {
    font-size: calc(1rem + 3vw);
  }

  .box1 {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column-reverse;
    align-items: center;
    flex-wrap: nowrap;
  }

  .box2 {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-content: space-between;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.table_container_color {
  padding: 1rem;
}





.about__DGI_desktop_img1 {
  height: 200px;
  width: 300px;
  
}

.about__productivity_img4 {
  height: 200px;
  width: 275px;
}

.pic_text2 {
  width: 300px;
}

.about__productivity_img5 {
  height: 200px;
  width: 355px;
}

.about__productivity_img6 {
  height: 200px;
  width: 355px;
}

.about__productivity_img7 {
  height: 200px;
  width: 355px;
}


.about__productivity_img5 {
  height: 200px;
  width: 300px;
  
}



}


@media screen and (min-width: 768px) {
  .home__cards {
    grid-template-columns: repeat(2, 240px);
  }
  .home__description,
  .about__container,
  .join__container{
    grid-template-columns: repeat(2, 350px);
    align-items: center;
  }


  .box99 {
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: wrap;
  }

  .table_container_color {
    padding: 5rem;
}


  .about__productivity_img4 {
    height: 200px;
    width: 275px;
  }
  
  .pic_text2 {
    width: 300px;
  }
  
  .about__productivity_img5 {
    height: 200px;
    width: 355px;
  }
  
  .about__productivity_img6 {
    height: 200px;
    width: 355px;
  }
  
  .about__productivity_img7 {
    height: 200px;
    width: 355px;
  }



  .box1 {
    margin: 4px;
      display: flex;
      justify-content: center;
      align-content: center;
      flex-direction: row;
      align-items: center;
      flex-wrap: nowrap;
  }

  .box2 {
    margin: 4px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}

  
  .about__container1 {
    grid-template-columns: 250px 360px;
    column-gap: 8.5rem;
    padding-block: 1rem;
    align-items: center;
    margin: 1rem;
  
  }
  .home__description {
    align-items: center;
  }

  .about__data,
  .about__data .section__title,
  .join__data,
  .join__data .section__title {
    text-align: initial;
  }

  .popular__container {
    grid-template-columns: repeat(2, 240px);
  }
  .explore__img {
    width: 100vw;
  }

  .join__image {
    order: -1;
  }

  .footer__content {
    grid-template-columns: repeat(2, max-content);
    justify-content: space-between;
  }

  .footer__group {
    flex-direction: row;
    justify-content: space-between;
  }

  

}

/* For large devices */
@media screen and (min-width: 1023px) {
  .nav__menu ul li {
    position: relative;
    font-family: var(--second-font);
    font-weight: var(--font-medium);
  }


  .box2 {
    margin: 4px;
    display: flex;
    justify-content: space-between;
    align-content: center;
    flex-direction: row-reverse;
    align-items: center;
    flex-wrap: nowrap;
}

  .nav__menu ul li:hover .dropdown__menu ul {
    margin: 10px;
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-content: center;
    flex-wrap: wrap;
  }




  .about__productivity_img4 {
    height: 200px;
    width: 270px;
  }
  
  .pic_text2 {
    width: 400px;
  }
  
  .about__productivity_img5 {
    height: 200px;
    width: 355px;
  }
  
  .about__productivity_img6 {
    height: 200px;
    width: 355px;
  }
  
  .about__productivity_img7 {
    height: 200px;
    width: 355px;
  }













  .nav__menu ul li:hover .dropdown__menu {
    display: block;
    position: absolute;
    top: 100%;
    background-color: hsla(0, 0%, 0%, 0.3);
    padding-block: 4rem;
  }
  
  
  
  .nav__menu ul li:hover .dropdown__menu ul li{
    width: 150px;
    padding: 10px;
    
    
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .nav__menu ul li a {
    color: var(--title-color);
  }
  
  .nav__close,
  .nav__toggle {
    display: none;
  }

  .nav__list {
    flex-direction: row;
    column-gap: 4rem;
  }

  .popular__container {
    grid-template-columns: repeat(3, 240px);
  }

  .footer__data {
    grid-template-columns: repeat(4, max-content);
    column-gap: 4.5rem;
  }
}

@media screen and (min-width: 1152px){
  .dropdown__menu {
    display: none;
  }

  
  
  

  .nav__menu ul li:hover .dropdown__menu ul {
    display: block;
    margin: 10px;
    position: relative;
  
  }




  .nav__menu ul li:hover .dropdown__menu {
    display: block;
    position: absolute;
    top: 100%;
    background-color: hsla(0, 0%, 0%, 0.3);
    padding-block: 4rem;
  }
  
  
  
  .nav__menu ul li:hover .dropdown__menu ul li{
    width: 150px;
    padding: 10px;
    
    
  }
  
  .fas {
    float: right;
    margin-left: 10px;
    padding-top: 3px;
  }

  .nav__menu ul li a {
    color: var(--title-color);
  }
  
  .container {
    margin-inline: auto;
  }

  .section {
    padding-block: 7rem 2rem;
  }

  .nav {
    height: calc(--header-height) + 1.5rem;
  }

  .blur-header::after {
    backdrop-filter: blur(25px);
    -webkit-backdrop-filter: blur(25px); /* for safari */
  }

  .home__container {
    grid-template-columns: initial;
    justify-content: initial;
    row-gap: 4rem;
    padding-top: 6.5rem;
    white-space: normal;
  }

  .home__shadow {
    height: 1000px;
  }

  .home__data {
    text-align: center;
  }

  .home__subtitle {
    font-size: var(--h2-font-size);
  }

  .home__description {
    margin-bottom: 2.5rem;
  }

  .home__cards {
    grid-template-columns: repeat(4, 260px);
  }

  .home__card-title {
    left: 1.5rem;
    bottom: 1.5rem;
  }

  .button {
    column-gap: 1.5rem;
  }

  .about__container {
    grid-template-columns: 400px 460px;
    column-gap: 8.5rem;
    padding-block: 1rem;
  }

  .about__container1 {
    grid-template-columns: 400px 460px;
    column-gap: 8.5rem;
    padding-block: 1rem;
    
  }

  .about__description {
    margin-bottom: 3rem;
  }

  .about__description1 {
    margin-bottom: 3rem;
  }

  .about__img {
    width: 460px;
  }

  .about__img1 {
    width: 460px;
  }

  .about__productivity_img4 {
    height: 200px;
    width: 400px;
    background: url(../img/mobile_access.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
    
  }


  
  .about__productivity_img5 {
    height: 400px;
    width: 500px;
    background: url(../img/productivity-1.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
  }

  .about__productivity_img6 {
    height: 400px;
    width: 500px;
    background: url(../img/productivity-2.png);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
  }


  .about__productivity_img7 {
    height: 400px;
    width: 500px;
    background: url(../img/Turning-cycle.PNG);
    background-size: contain;
    background-repeat: no-repeat;
    padding: 1rem;
    margin: 1rem;
    
  }


  
  .popular__container{
    grid-template-columns: repeat(3, 300px);
    column-gap: 3rem;
    padding-top: 4rem;
  }

  .popular__title {
    font-size: var(--h2-font-size);
  }

  .popular__location {
    font-size: var(--normal-font-size);
  }

  .explore__img {
    height: 600px;
  }

  .explore__content {
    padding-top: 28rem;
    grid-template-columns: 670px 1fr;
  }

  .explore__data,
  .explore__data .section__title {
    text-align: initial;
  }

  .explore__user {
    justify-content: flex-end;
    align-items: flex-end;
    margin-bottom: 1.25rem;
  }

  .join__container {
    grid-template-columns: 460px 340px;
    column-gap: 8.5rem;
    padding-block: 1rem 5rem;
  }

  .join__img {
    width: 460px;
  }

  .join__description {
    margin-bottom: 3rem;
  }

  .footer {
    padding-block: 5rem 3rem;
  }

  .footer__title {
    margin-bottom: 1.5rem;
  }

  .footer__group {
    margin-top: 7rem;
  }

  .footer__social {
    column-gap: 2rem;
  }

  .footer__social-link {
    font-size: 1.5rem;
  }

  .scrollup {
    right: 3rem;
  }

}

